*{
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    width: 100%;
}


.header-home {
    height: 110px;
    width: 100%;
    display: flex;
    background-color: #ffffff;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
    font-family: "Poppins", sans-serif;

    figure {
        height: 100%;
    }
}

.nav-links-home {
    right: 0;
    height: auto;
    width: 35%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    a {
        text-decoration: none;
        font-size: 22px;
        color: black;
        margin: 4px;
    }

    a:hover {
        color: #20A10E;
    }

    button {
        border-radius: 10px;
        background-color: #FD9A5C;
        height: auto;
        width: auto;
        padding: 7px 14px;
        font-size: 20px;
        border: none;
        transition-duration: 0.3s;
    }

    button:hover {
        background-color: #A1470E;
        transition-duration: 0.3s;
        cursor: pointer;
    }
}

.background-image-home {
    font-size: 81px;
    font-weight: 100;
    display: flex;
    height: auto;
    width: 100%;
    align-items: center;
    justify-content: center;

    img{
        width: 100%;
    }
    div{
        position: absolute;
        font-family: "League Spartan", sans-serif;
    }
}

.info-cards{
    display: flex;
    width: 100%;
    height: 100px;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 20px;
    font-family: "League Spartan", sans-serif;
}

.cards{
    display: flex;
    height: max-content;
    width: auto;
    min-width: 250px;
    background-color: #fff;
    gap: 10px;
    flex-direction: row;
    padding: 20px 25px;
    border-radius: 12px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.06);
    align-items: center;
    justify-content: space-around;
    font-size: 16px;
    font-weight: lighter;
}

.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    min-height: 40px;
    min-width: 40px;
    border-radius: 20px;
    background-color: #D8FFE2;
    font-size: 20px;
    color: #00A63E;
}